<?php

return PhpCsFixer\Config::create()
	->setRiskyAllowed(true)
    ->setRules([
        '@Symfony' => true,
		'@Symfony:risky' => true,
		'@PHP71Migration' => true,
		'@PHP73Migration' => true,
		'@DoctrineAnnotation' => true,
		'align_multiline_comment' => true,
		'array_syntax' => ['syntax' => 'short'],
		'concat_space' => ['spacing' => 'one'],
		'declare_strict_types' => true,
		'dir_constant' => true,
		'general_phpdoc_annotation_remove' => ['annotations' => ['author', 'package']],
		'heredoc_to_nowdoc' => true,
		'increment_style' => ['style' => 'post'],
		'linebreak_after_opening_tag' => true,
		'modernize_types_casting' => true,
		'no_multiline_whitespace_before_semicolons' => true,
		'no_php4_constructor' => true,
		'no_short_echo_tag' => true,
		'no_unreachable_default_argument_value' => true,
		'no_useless_else' => true,
		'no_useless_return' => true,
		'ordered_class_elements' => true,
		'ordered_imports' => true,
		'phpdoc_add_missing_param_annotation' => ['only_untyped' => false],
		'phpdoc_order' => true,
		'phpdoc_summary' => false,
		'phpdoc_types_order' => ['null_adjustment' => 'always_last'],
		'semicolon_after_instruction' => true,
		'yoda_style' => [
            'equal' => false,
            'identical' => false,
            'less_and_greater' => false
        ],
    ])
;
